<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Grocers</h1>
    <p class="lead">The one stop shop for all your groceries needs.</p>
    <hr class="my-4" />
    <p>You can perform the following operations</p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="products" role="button"
        >View Products</a
      >
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="cart" role="button"
        >View Cart</a
      >
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="wishlist" role="button"
        >Wish List</a
      >
    </p>
  </div>
</div>
